@use '../util/' as *;

.container {
    background: var(--white);
    border-radius: 5% 5% 25% 5%;
    margin: rem(80) auto 0;
    max-width: rem(650);
    width: 90vw;
    @include breakpoint(large) {
        margin-top: 20vh;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}