@use '../util/' as *;

h2 {
    font-size: rem(52);
    font-style: italic;
    font-weight: 800;
    line-height: 1.1;
    @include breakpoint(large) {
        font-size: rem(82);
    }
}

p {
    font-size: rem(8);
    @include breakpoint(large) {
        font-size: rem(10);
    }
}