@use '../util/' as *;

.form {
    border-bottom: rem(1) solid var(--light-grey);
    margin: 0 rem(24);
    padding: rem(48) 0 rem(60);
    position: relative;
    @include breakpoint(large) {
        margin: 0 rem(48);
        padding-bottom: rem(40);
    }
    button {
        background: var(--purple);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: rem(18);
        position: absolute;
        left: calc(50% - rem(31.75));
        top: calc(100% - rem(31.75));
        transition: background 0.25s ease-out;
        width: rem(63.5);
        &:hover, &:focus {
            background: var(--off-black);
            outline: none;
        }
        @include breakpoint(large) {
            left: calc(100% - rem(63));
            width: rem(71.5);
        }
        img {
            height: rem(24);
            @include breakpoint(large) {
                height: rem(32);
            }
        }
    }
}