@use '../util/' as *;

.output {
    padding-bottom: rem(48);
    &__label{
        line-height: 1.1;
        margin: 0;
        text-transform: lowercase;
    }
    &__number {
        color: var(--purple);
        margin-right: rem(-5);
    }
}