@use '../util/' as *;

.output {
    padding-bottom: rem(48);
    &__label{
        font-size: rem(52);
        font-style: italic;
        font-weight: 800;
        line-height: 1.1;
        margin: 0;
        text-transform: lowercase;
        @include breakpoint(large) {
            font-size: rem(82);
        }
    }
    &__number {
        color: var(--purple);
        margin-right: rem(-5);
    }
}